# ukol-08: Adopce zvířat
Stáhni si dataset, který obsahuje seznam zvířat k adopci v ZOO Praha. Zdroj dat je Národní katalog otevřených dat.

Data si načti pomocí metody pandas.read_csv(). Pozor, nastav oddělovač na znak středníku. Využij parametr sep.

Seznam se s daty. Kolik má tabulka řádek a sloupců? Jak se sloupce jmenují?

Které zvíře se nachází na záznamu s indexem 34? Vypiš pomocí iloc název tohoto zvířete v češtině i angličtině.

### Bonus
V lekci jsme zmínili, že existují i jiné typy indexů, než jen číselný, který sám vyrobí pandas. Například v kontextu souboru se zvířaty se nabízí hned několik sloupců, které bychom mohli využít jako index, které nejsou číselné.

Načti znovu data, ale tentokrát nastav parametr index_col na název sloupce, který obsahuje název zvířete v češtině. Všimni si, že sloupec teď povýší na index a už se nenachází mezi "běžnými" sloupci.

Pomocí <tvoje-promenna>.index.is_unique ověř, zda je nový index unikátní.

Seřazený index je efektivnější a přehlednější. Seřaď index pomocí metody .sort_index(). Bacha, metoda vrátí novou tabulku se seřazeným indexem. Budeš tedy chtít přepsat původní tabulku.

Vyhledej řádek indexovaný názvem "Outloň váhavý". Namísto metody .iloc využij .loc.

Rozsahy fungují podobně jako u číselných indexů. Vyhledej záznamy mezi "Želva Smithova" a "Želva žlutočelá".

In [145]:
import requests

url = "https://raw.githubusercontent.com/andywaltlova/python-1-podzim-2022/master/ukoly/data/adopce-zvirat.csv"
r = requests.get(url, allow_redirects=True, verify=False)
open('adopce-zvirat.csv', 'wb').write(r.content)

c:\Users\zitko\AppData\Local\Programs\Python\Python39\lib\site-packages\urllib3\connectionpool.py:1045: InsecureRequestWarning: Unverified HTTPS request is being made to host 'raw.githubusercontent.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

30578

In [252]:
import pandas

adopce = pandas.read_csv("adopce-zvirat.csv", sep = ";", encoding = "utf-16 LE")

UnicodeDecodeError: 'utf-16-le' codec can't decode bytes in position 23730-23731: illegal UTF-16 surrogate

In [222]:
adopce.columns

Index(['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [223]:
adopce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [224]:
adopce.shape[0] # počet řádků jen

513

In [225]:
adopce.shape[1] # počet sloupců jen

6

In [226]:
adopce.iloc[34,1:3]   # název zvářete v ČJ i AJ na záznamu s indexem 34

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object

# Bonus

In [227]:
import pandas

adopce = pandas.read_csv("adopce-zvirat.csv", sep = ";", index_col = "nazev_cz", encoding = "utf-16 LE")

In [228]:
adopce.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, Šváb syčivý to Kachnice kaštanová
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_en     513 non-null    object
 2   trida_cz     513 non-null    object
 3   cena         513 non-null    int64
 4   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(2)
memory usage: 24.0+ KB

In [229]:
adopce.columns

Index(['id', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce'], dtype='object')

In [230]:
adopce.index.is_unique    #  zjištění, že nový index je unikátní v tabulce

True

In [231]:
adopce.sort_index()  # seřazení indexu. Metoda vrátí novou tabulku, budu chtít tedy přepsat původní tabulku.

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Achatina žravá,621,Giant African snail,Bezobratlí,1000,1
Adax,402,Addax,Savci,5000,1
Agama stepní,1214,Steppe agama,Plazi,1000,1
Agama turkestánská,1215,Turkestan rock agama,Plazi,1500,1
Agamka písečná,1233,Toad-headed agama,Plazi,1500,1
...,...,...,...,...,...
Želva černavá,673,Giant Asian pond turtle,Plazi,2000,1
Želva žlutočelá,37,Indochinese box turtle,Plazi,1000,1
Žirafa severní núbijská (= Rothschildova),396,Rothschild's giraffe,Savci,50000,1
Žluna větší,1069,Greater yellownape,Ptáci,1500,1
Žluva hajní,1190,Eurasian golden oriole,Ptáci,1000,1

In [256]:
#  chci přepsat původní tabulku se seřazeným indexem. Nelze použít with open... writelines(adobce.sort_index()), neporadí si s DataFrame. Uložilo mi to jen názvy sloupců.
adopce.sort_index().to_csv("adopce-zvirat.csv", sep = ";", mode="w", encoding="ANSI")    # nemám tady tomu zase přiřadit nějakou proměnnou, př. adopce2 = adopce.sort_index().to_csv.....

In [257]:
# Vyhledej řádek indexovaný názvem "Outloň váhavý". Namísto metody .iloc využij .loc.
adopce.loc[["Outloň váhavý"]]

                id          nazev_en trida_cz  cena  k_prohlidce
nazev_cz
Outloň váhavý  749  Sunda slow loris    Savci  2000            1

In [261]:
# Rozsahy fungují podobně jako u číselných indexů. Vyhledej záznamy mezi "Želva Smithova" a "Želva žlutočelá".
# adopce.loc["Želva Smithova":"Želva žlutočelá"]
adopce.loc["Lezec":"Batagur tuntong"]

,id,nazev_en,trida_cz,cena,k_prohlidce
nazev_cz,,,,,
Lezec,768,Mudskipper,Ryby,2000,1
Bičovka stromová,770,Oriental whip snake,Plazi,2000,1
Želva zubatá,771,Asian leaf turtle,Plazi,1000,1
Želva tlustohrdlá,772,Malaysian black mud turtle,Plazi,1000,1
Dlouhokrčka Siebenrockova,773,Australian snake-necked turtle,Plazi,1500,1
Batagur tuntong,775,Southern river terrapin,Plazi,3000,1